.blog main {
  padding: 10%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 2rem;
}
.blog main .news_list {
  display: flex;
  flex-direction: column;
}
.blog main .news_list article {
  margin: 2rem 0;
}
.blog main .news_list article img {
  height: 500px;
}
.blog main .news_list article .card-body .short_desctiption {
  display: flex;
  flex-direction: row;
}
.blog main .news_list article .card-body .short_desctiption p {
  margin: 1rem;
  color: #777;
}
.blog main .news_list article .card-body .short_desctiption p span {
  color: #001c42;
  margin-right: 5px;
}
.blog main .news_list article .card-body .short_desctiption p:nth-child(1) {
  margin-left: 0;
}
.blog main .news_list article .card-body .card-title {
  font-size: 2rem;
  font-weight: 500;
  color: #001c42;
}
.blog main .news_list article .card-body .text {
  margin: 2rem 0;
  color: #777;
  font-size: 0.9rem;
}
.blog main .news_list article .card-body button {
  background: #3558AE;
  border: none;
  border-radius: 5px;
  color: #AF87CE;
  padding: 1rem 2rem;
  font-size: 1.3rem;
}
.blog main .news_list article:nth-child(1) {
  margin-top: 0;
}
.blog main .categories .search_section {
  padding: 1rem;
  background: #3558AE;
}
.blog main .categories .search_section header {
  margin: 2rem auto;
  font-size: 2rem;
  font-weight: 600;
}
.blog main .categories .search_section .input-group input {
  border: none;
  background: none;
  border-radius: 0;
  border-bottom: 1px solid #AF87CE;
}
.blog main .categories .search_section .input-group input:focus {
  outline: none;
  outline-width: 0;
  outline-style: none;
}
.blog main .categories .search_section .input-group input::-moz-placeholder {
  color: #AF87CE;
}
.blog main .categories .search_section .input-group input::placeholder {
  color: #AF87CE;
}
.blog main .categories .search_section .input-group input[type=text]:focus {
  outline: 0 none;
  box-shadow: none;
}
.blog main .categories .search_section .input-group span {
  background: none;
  border: none;
  color: #AF87CE;
  font-size: 1.2rem;
}
.blog main .categories .categories_section {
  margin: 2rem 0;
}
.blog main .categories .categories_section header {
  padding: 1rem;
  background: #3558AE;
  font-size: 1.7rem;
  color: #fff;
}
.blog main .categories .categories_section .list {
  padding: 1rem;
}
.blog main .categories .categories_section .list article {
  color: #777;
  display: flex;
  justify-content: space-between;
}
.blog main .categories .categories_section .list article .title {
  font-size: 1.2rem;
  font-weight: 200;
}
.blog main .categories .categories_section .list article .count {
  background: #AF87CE;
  padding: 0.4rem 0.7rem;
  border-radius: 50%;
  font-size: 0.9rem;
  font-weight: 200;
}
.blog main .categories .Registation {
  background: #001c42 url("./resigtationBack.jpg");
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 26rem;
  color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blog main .categories .Registation .title {
  line-height: 1rem;
  font-size: 2rem;
  font-weight: 600;
}
.blog main .categories .Registation .text {
  margin: 2rem 0;
  color: #d0d0d0;
}
.blog main .categories .Registation button {
  background: #001c42;
  border: none;
  padding: 1rem 2rem;
  color: #fff;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 500;
}
.blog main .categories .recent_posts_section header {
  background: #001c42;
  padding: 1rem;
  color: #AF87CE;
  font-size: 2rem;
  font-weight: 600;
}
.blog main .categories .recent_posts_section .list {
  padding: 1rem 0;
}
.blog main .categories .recent_posts_section .list article {
  display: flex;
  margin: 1rem 0;
}
.blog main .categories .recent_posts_section .list article .img {
  margin-right: 1rem;
}
.blog main .categories .recent_posts_section .list article .img img {
  width: 90px;
  height: 90px;
}
.blog main .categories .recent_posts_section .list article .img .details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blog main .categories .recent_posts_section .list article .img .details .title {
  font-size: 1rem;
}
.blog main .categories .recent_posts_section .list article .img .details .date {
  font-size: 10px;
}