.contact main form {
  padding: 10%;
  width: 80%;
  margin: auto;
}
.contact main form p {
  padding: 3rem 0;
}
.contact main form input {
  height: 4rem;
  outline-style: none;
}
.contact main form input:focus {
  outline-style: none;
}
.contact main form textarea {
  height: 7rem;
}
.contact main form span {
  color: #3558AE;
}
.contact main form button {
  background: #3558AE;
  padding: 0.5rem 2rem;
  color: #fff;
}
.contact main form button:hover {
  background: #001c42;
}
.contact main .connection {
  background: #001c42 url("./contactsBack.jpg");
  background-size: 100%;
  background-blend-mode: multiply;
  background-position: center top;
  height: 450px;
  padding: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  grid-gap: 5rem;
}
.contact main .connection article {
  color: #fff;
}
.contact main .connection article .icon {
  font-size: 4rem;
  color: #3558AE;
}
.contact main .connection article .data {
  margin: 2rem 0;
  font-size: 1.5rem;
}