.experts .expert {
  transform: translateY(-30%);
  padding: 10%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.experts .expert aside:nth-child(1) img {
  width: 100%;
  height: 700px;
}
.experts .expert aside:nth-child(2) {
  padding: 2rem;
  background: #3558AE;
}
.experts .expert aside:nth-child(2) .pro {
  margin: 3rem 0;
}
.experts .expert aside:nth-child(2) .pro header {
  display: flex;
  justify-content: space-between;
}
.experts .oneline_education {
  transform: translateY(-30%);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.experts .oneline_education aside:nth-child(1) {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateX(10%);
}
.experts .oneline_education aside:nth-child(1) h1 {
  font-size: 2.5rem;
  font-weight: 500;
  color: #3558AE;
}
.experts .oneline_education aside:nth-child(1) p {
  margin: 3rem 0;
}
.experts .oneline_education aside:nth-child(1) .advisors {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}
.experts .oneline_education aside:nth-child(1) .advisors aside {
  display: flex;
  justify-content: space-between;
}
.experts .oneline_education aside:nth-child(1) .advisors aside .icon_box {
  align-self: center;
  background: #3558AE;
  width: 100px;
  height: 80px;
  border-radius: 50%;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.experts .oneline_education aside:nth-child(1) .advisors aside .icon_box span {
  color: #fff;
}
.experts .oneline_education aside:nth-child(1) .advisors aside .data {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
}
.experts .oneline_education aside:nth-child(1) .advisors aside .data p {
  margin: 0.5rem 0;
}
.experts .oneline_education aside:nth-child(1) .advisors aside .data p:nth-child(1) {
  color: #3558AE;
}
.experts .oneline_education aside:nth-child(1) button {
  margin: 3rem 0;
  padding: 0.5rem 2rem;
  border: 0;
  border-radius: 1rem;
  background: #001c42;
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
}
.experts .oneline_education aside:nth-child(2) img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1000px) {
  .experts .expert {
    transform: translateY(-15%);
    grid-template-columns: 1fr;
  }
  .experts .oneline_education {
    grid-template-columns: 1fr;
  }
  .experts .oneline_education aside:nth-child(1) {
    padding: 10%;
    position: relative;
    transform: translateX(0%);
  }
  .experts .oneline_education aside:nth-child(1) h1 {
    font-size: 2.5rem;
  }
  .experts .oneline_education aside:nth-child(1) .advisors {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 1rem;
  }
  .experts .oneline_education aside:nth-child(1) .advisors aside {
    padding: 0;
    margin: 0;
  }
  .experts .oneline_education aside:nth-child(1) .advisors aside .data {
    display: flex;
    flex-direction: column;
  }
  .experts .oneline_education aside:nth-child(1) .advisors aside .data p {
    margin: 0.5rem 0;
  }
  .experts .oneline_education aside:nth-child(1) .advisors aside .data p:nth-child(1) {
    color: #3558AE;
  }
  .experts .oneline_education aside:nth-child(1) .advisors aside .data p:nth-child(2) {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 1000px) and (max-width: 500px) {
  .experts .oneline_education aside:nth-child(1) .advisors {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 1000px) {
  .experts .oneline_education aside:nth-child(1) button {
    margin: 3rem 0;
    padding: 0.5rem 2rem;
    border: 0;
    border-radius: 1rem;
    background: #001c42;
    color: #fff;
    font-weight: 500;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 500px) {
  .experts aside:nth-child(2) img {
    width: 100%;
    max-width: 20rem;
    height: 100%;
  }
}