.faq main {
  padding: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}
.faq main aside .accordion .accordion-item .accordion-header button {
  color: #AF87CE;
  background: #001c42;
}