.features_list {
  transform: translateY(-50%);
  padding: 10%;
  padding-bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  box-sizing: border-box;
}
.features_list article {
  border-radius: 2rem;
  padding: 1rem;
  text-align: center;
  color: #fff;
  min-height: 25rem;
}
.features_list article .icon {
  font-size: 4rem;
  color: #fff;
  margin: 1rem auto;
}
.features_list article h1 {
  margin: 1rem auto;
}
.features_list article p {
  font-size: 0.9rem;
}
.features_list article .read_more {
  margin: 3rem auto;
}
.features_list article .read_more a {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.features_list article .read_more a .icon_right {
  display: none;
  transition: 0.5s;
}
.features_list article .read_more a .line {
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: 0.5s;
}
.features_list article .read_more:hover .line {
  width: 0;
}
.features_list article .read_more:hover .icon_right {
  display: inline;
}

@media screen and (max-width: 1050px) {
  .features_list {
    transform: translateY(-25%);
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 800px) {
  .features_list {
    transform: translateY(-15%);
    grid-template-columns: 1fr;
  }
}