footer {
  background: #3558AE;
  padding: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}
footer aside .title {
  color: #fff;
  font-size: 2rem;
  padding: 2rem 0;
}
footer aside:nth-child(1) .title {
  display: flex;
  align-items: center;
}
footer aside:nth-child(1) .title img {
  width: 80px;
  height: 70px;
}
footer aside:nth-child(1) .title span {
  margin-left: 1rem;
  font-size: 2rem;
  font-weight: 600;
}
footer aside:nth-child(1) .social {
  padding: 2rem 0;
  display: flex;
}
footer aside:nth-child(1) .social .social-item {
  margin: 0 1rem;
  background: #001c42;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #AF87CE;
  border-radius: 0.5rem;
}
footer aside:nth-child(1) .social .social-item {
  margin-left: 0;
}
footer aside:nth-child(1) .social .social-item:hover {
  color: #fff;
}
footer aside:nth-child(2) .courses {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  position: relative;
}
footer aside:nth-child(3) .input {
  padding: 2rem 0;
}
footer aside:nth-child(3) .input input {
  background: none;
  border: 1px solid #AF87CE;
  padding: 0.5rem;
  color: #AF87CE;
  outline: none;
  border-radius: 5px;
}
footer aside:nth-child(3) .input input::-moz-placeholder {
  color: #fff;
}
footer aside:nth-child(3) .input input::placeholder {
  color: #fff;
}
footer aside:nth-child(3) .input button {
  background: #001c42;
  border: none;
  margin-left: 1rem;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  color: #AF87CE;
  font-size: 1.5rem;
}

@media screen and (max-width: 1000px) {
  footer {
    grid-template-columns: 1fr;
  }
}