.membership .plans {
  padding: 10%;
  display: grid;
  grid-template-columns: repeat(3, minmax(20rem, 1fr));
  grid-gap: 2rem;
}
.membership .plans article {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.membership .plans article .icon {
  font-size: 4rem;
  margin: 3rem 0;
}
.membership .plans article .line {
  margin: 2rem auto;
  width: 80%;
  height: 2px;
  background: #001c42;
}
.membership .plans article button {
  margin: 2rem auto;
  padding: 1rem 2rem;
  border: none;
  background: #fff;
  border-radius: 5px;
  font-weight: 500;
}
.membership .plans article:nth-child(1) {
  background: red;
}
.membership .plans article:nth-child(2) {
  background: rgb(12, 147, 21);
}
.membership .plans article:nth-child(3) {
  background: rgb(9, 101, 150);
}