.upcoming_courses_large {
  transform: translateY(-15%);
  padding: 10%;
}
.upcoming_courses_large header {
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.upcoming_courses_large header h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #333;
}
.upcoming_courses_large header .control_buttons button {
  margin: 0 0.5rem;
  background: none;
  border: 2px solid #AF87CE;
  border-radius: 5px;
  color: #AF87CE;
  padding: 3px 10px;
}
.upcoming_courses_large header .control_buttons button:active {
  color: #001c42;
  border: 2px solid #001c42;
}
.upcoming_courses_large .upcomingCourses_list_large {
  margin: auto;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(18rem, 1fr));
  grid-gap: 2rem;
}
.upcoming_courses_large .upcomingCourses_list_large article .img_box img {
  height: 18rem;
}
.upcoming_courses_large .upcomingCourses_list_large article .card-body h1 {
  font-size: 1.5rem;
  font-weight: 700;
}
.upcoming_courses_large .upcomingCourses_list_large article .card-body .lecturer {
  margin-bottom: 2rem;
}
.upcoming_courses_large .upcomingCourses_list_large article .card-body .lecturer .admin {
  color: #001c42;
}
.upcoming_courses_large .upcomingCourses_list_large article .card-body .lecturer .type {
  color: #AF87CE;
}
.upcoming_courses_large .upcomingCourses_list_large article .card-body .details {
  display: flex;
  justify-content: space-between;
}
.upcoming_courses_large .upcomingCourses_list_large article .card-body .details div span {
  color: #001c42;
  margin-right: 0.5rem;
  font-size: 1rem;
}

.upcoming_courses_middle {
  display: none;
}

.upcoming_courses_small {
  display: none;
}

@media screen and (max-width: 800px) {
  .upcoming_courses {
    transform: translateY(-5%);
  }
}
@media screen and (max-width: 1100px) {
  .upcoming_courses_large {
    display: none;
  }
  .upcoming_courses_middle {
    display: block;
    transform: translateY(-15%);
    padding: 10%;
  }
  .upcoming_courses_middle header {
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .upcoming_courses_middle header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
  }
  .upcoming_courses_middle header .control_buttons button {
    margin: 0 0.5rem;
    background: none;
    border: 2px solid #AF87CE;
    border-radius: 5px;
    color: #AF87CE;
    padding: 3px 10px;
  }
  .upcoming_courses_middle header .control_buttons button:active {
    color: #001c42;
    border: 2px solid #001c42;
  }
  .upcoming_courses_middle .upcomingCourses_list_middle {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(18rem, 1fr));
    grid-gap: 2rem;
  }
  .upcoming_courses_middle .upcomingCourses_list_middle article .img_box img {
    height: 18rem;
  }
  .upcoming_courses_middle .upcomingCourses_list_middle article .card-body h1 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .upcoming_courses_middle .upcomingCourses_list_middle article .card-body .lecturer {
    margin-bottom: 2rem;
  }
  .upcoming_courses_middle .upcomingCourses_list_middle article .card-body .lecturer .admin {
    color: #001c42;
  }
  .upcoming_courses_middle .upcomingCourses_list_middle article .card-body .lecturer .type {
    color: #AF87CE;
  }
  .upcoming_courses_middle .upcomingCourses_list_middle article .card-body .details {
    display: flex;
    justify-content: space-between;
  }
  .upcoming_courses_middle .upcomingCourses_list_middle article .card-body .details div span {
    color: #001c42;
    margin-right: 0.5rem;
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .upcoming_courses_middle {
    display: none;
  }
  .upcoming_courses_small {
    display: block;
    transform: translateY(-15%);
    padding: 10%;
  }
  .upcoming_courses_small header {
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .upcoming_courses_small header h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
  }
  .upcoming_courses_small header .control_buttons button {
    margin: 0 0.3rem;
    background: none;
    border: 2px solid #AF87CE;
    border-radius: 5px;
    color: #AF87CE;
    padding: 2px 7px;
  }
  .upcoming_courses_small header .control_buttons button:active {
    color: #001c42;
    border: 2px solid #001c42;
  }
  .upcoming_courses_small .upcomingCourses_list_small {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
  }
  .upcoming_courses_small .upcomingCourses_list_small article .img_box img {
    height: 18rem;
  }
  .upcoming_courses_small .upcomingCourses_list_small article .card-body h1 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .upcoming_courses_small .upcomingCourses_list_small article .card-body .lecturer {
    margin-bottom: 2rem;
  }
  .upcoming_courses_small .upcomingCourses_list_small article .card-body .lecturer .admin {
    color: #001c42;
  }
  .upcoming_courses_small .upcomingCourses_list_small article .card-body .lecturer .type {
    color: #AF87CE;
  }
  .upcoming_courses_small .upcomingCourses_list_small article .card-body .details {
    display: flex;
    justify-content: space-between;
  }
  .upcoming_courses_small .upcomingCourses_list_small article .card-body .details div span {
    color: #001c42;
    margin-right: 0.5rem;
    font-size: 1rem;
  }
}