.video_section {
  margin-top: 3rem;
  background: #001c42 url("./videoBak.jpg");
  background-blend-mode: multiply;
  height: 600px;
  background-size: 100%;
  padding: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.video_section aside {
  color: #fff;
}
.video_section aside:nth-child(1) h1 {
  font-size: 3rem;
  font-weight: 600;
  margin: 2rem 0;
}
.video_section aside:nth-child(1) button {
  background: none;
  border: 2px solid #AF87CE;
  color: #AF87CE;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  font-weight: 500;
}
.video_section aside:nth-child(2) {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
}
.video_section aside:nth-child(2) .play_pause {
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 2rem;
}
.video_section aside:nth-child(2) .play_pause span {
  color: #2A255C;
  font-size: 1.5rem;
}