@import "../Variables.scss";
.features_list {
    transform: translateY(-50%);
    padding: 10%;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    box-sizing: border-box;
    article {
        border-radius: 2rem;
        padding: 1rem;
        text-align: center;
        color: $light;
        min-height: 25rem;
        .icon {
            font-size: 4rem;
            color: $light;
            margin: 1rem auto;
        }

        h1 {
            margin: 1rem auto;
        }
        p {
            font-size: 0.9rem;
        }
        .read_more {
            margin: 3rem auto;
            a {
                position: relative;
                color: $light;
                text-decoration: none;
                font-weight: 600;
                .icon_right {
                    display: none;
                    transition: 0.5s;
                }
                .line {
                    position: absolute;
                    left: 0;
                    bottom: -0.5rem;
                    width: 100%;
                    height: 2px;
                    background: $light;
                    transition: 0.5s;
                }

            }
            &:hover .line{
                width: 0;
            }
            &:hover .icon_right{
                display: inline;
            }
        }

    }
}
@media screen and (max-width: 1050px) {
    .features_list {
        transform: translateY(-25%);
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 800px) {
    .features_list {
        transform: translateY(-15%);
        grid-template-columns: 1fr;
    }
}