@import "./Variables.scss";
nav {
    background: $secondaryColor;
        height: 90px;
        max-height: 90px;
    .navbar_container {
        padding: 0.5rem 0;
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 80px;
                height: 70px;
            }
            span {
                margin-left: 1rem;
                font-size: 1.3rem;
                color: $light;
            }
        }
        .navbar_toggler {
            display: none;
            color: $mainColor;
        }
        .desktop_navbar_nav {
            display: flex;
            flex-direction: row;
            list-style: none;
            text-decoration: none;
            margin: 0;
            padding: 0;
            font-size: 1.3rem;
            .nav_item {
                position: relative;
                margin: auto 0.6rem;
               &:hover::after {
                    position: absolute;
                    content: '';
                    background: $mainColor;
                    width: 50%;
                    height: 3px;
                    bottom: 0;
                    left: 50%;
                    border-top-right-radius: 2px;
                    border-bottom-right-radius: 2px;
                    animation: swingLeft 1s ease 0s 1 normal forwards;
                }
                @keyframes swingLeft {
                    0% {
                        opacity: 0;
                        transform: rotateY(100deg);
                        transform-origin: left;
                    }
                
                    100% {
                        opacity: 1;
                        transform: rotateY(0);
                        transform-origin: left;
                    }
                }
                &:hover::before {
                    position: absolute;
                    content: '';
                    background: $mainColor;
                    width: 50%;
                    height: 3px;
                    bottom: 0;
                    left: 0%;
                    border-top-left-radius: 2px;
                    border-bottom-left-radius: 2px;
                    animation: swingRight 1s ease 0s 1 normal forwards;
                }
                @keyframes swingRight {
                    0% {
                        opacity: 0;
                        transform: rotateY(-100deg);
                        transform-origin: right;
                    }
                
                    100% {
                        opacity: 1;
                        transform: rotateY(0);
                        transform-origin: right;
                    }
                }
                .nav_link {
                    text-decoration: none;
                    color: $light;
                    text-transform: capitalize;
                    &:hover {
                        color: $mainColor;
                    }
                }
                .dropdown_section {
                    min-width: 18rem;
                    display: none;
                    position: absolute;
                    z-index: 999;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    &:hover {
                        display: flex;
                        flex-direction: column;
                    }
                    li {
                    background: $light;
                    padding: 0rem 1rem;
                        .link {
                            font-size: 1rem;
                            text-decoration: none;
                            color: $lightSky;
                        }
                        &:nth-child(1) {
                            margin-top: 1.95rem;
                        }
                    }

                }
                &:hover .dropdown_section {
                    display: flex;
                    flex-direction: column;
                }

            }
            .search_cart {
                display: flex;
                align-items: center;
                font-size: 1.2rem;
                color: $mainColor;
                .search {
                    margin: auto 1rem;
                }
                .cart {
                    margin: 0;
                }
                .search,
                .cart {
                    font-size: 1.4rem;
                }
                .search:hover,
                .cart:hover {
                    color: $mainColor;
                }
                .login_register {
                    padding: 0.5rem;
                    background: $mainColor;
                    color: $light;
                    margin-left: 1rem;
                    border-radius: 0.5rem;
                    &:hover {
                        background: none;
                        border: 2px solid $light;
                    }
                }
            }
        }
        .small_navbar {
            display: none;
        }
    }
}
@media screen and (max-width: 1200px) {
    nav {
        .navbar_container {
            .navbar_nav {
                .search_cart {
                    .login_register {
                        display: none;
                    }
                }

            }
        }
    }
}
@media screen and (max-width: 992px) {
    nav {
        .navbar_container {
            .navbar_toggler {
                display: block;
                background: none;
                border: none;
                font-size: 2rem;
                &:hover {
                    color: $light;
                }
            }
            .desktop_navbar_nav {
                display: none;
            }
            .small_navbar {
                display: flex;
                justify-content: space-between;
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100%;
                z-index: 100000;
                backdrop-filter: blur(10px);
                .small_navbar_container  {
                    animation: smallNavbar 1s ease 0s 1 normal forwards;
                    position: relative;
                    width: 300px;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    .logo {
                        padding: 1rem 0;
                        background: $mainColor;
                        display: flex;
                        justify-content: center;
                        img {
                            width: 80px;
                            width: 60px;
                        }
                    }
                    .navbar_nav {
                        padding: 0;
                        margin: 0;
                        background: $mainColor;
                        display: flex;
                        flex-direction: column;
                        height: 100vh;
                        .nav_item {
                            display: flex;
                            flex-direction: column;
                            position: relative;
                            width: 100%;
                            margin: 0;
                            padding: 1rem 0;
                            border-top: 1px solid $dark;
                            .nav_link {
                                text-decoration: none;
                                .link {
                                    margin-left: 1rem;
                                    text-decoration: none;
                                    color: $light;
                                    text-transform: capitalize;
                                }
                            }
                            .nav_link:hover ~ .dropdown_section {
                                display: flex;
                            }
                            .dropdown_section {
                                position: relative;
                                display: none;
                                flex-direction: column;
                                z-index: 9999999;
                                animation: dropdownAnima 1s ease 0s 1 normal forwards;
                                transition: 0.5s;
                                &:hover {
                                    display: flex;
                                }
                                .dropdown_item {
                                    padding: 1rem 0;
                                    padding-left: 1rem;
                                    border-top: 1px solid $secondaryColor;
                                    animation: dropdownItemAnima 1s ease 0s 1 normal forwards;
                                    transition: 0.5s;
                                    &:hover {
                                        cursor: pointer;
                                    }
                                    .link {
                                        text-decoration: none;
                                        color: $dark;
                                    }
                                }
                                @keyframes dropdownItemAnima {
                                    0% {
                                        opacity: 0;
                                        transform: rotateX(70deg);
                                        transform-origin: top;
                                        display: block;
                                    }
                                
                                    100% {
                                        opacity: 1;
                                        transform: rotateX(0deg);
                                        transform-origin: top;
                                        display: block;
                                    }
                                }
                            }
                            @keyframes dropdownAnima {
                                0% {
                                    display: none;
                                    opacity: 0;
                                    transform: rotateX(70deg);
                                    transform-origin: top;
                                    display: block;
                                }
                                100% {
                                    display: flex;
                                    opacity: 1;
                                    transform: rotateX(0deg);
                                    transform-origin: top;
                                    display: block;
                                }
                            }
                        }
                }
                }
                @keyframes smallNavbar {
                    0% {
                        opacity: 0;
                        transform: rotateY(100deg);
                        transform-origin: left;
                    }
                
                    100% {
                        opacity: 1;
                        transform: rotateY(0);
                        transform-origin: left;
                    }
                }
                .close_btn {
                    align-self: flex-start;
                    position: relative;
                    font-size: 2.5rem;
                    margin-right: 1.5rem;
                    background: none;
                    border: none;
                    color: $mainColor;
                    &:hover {
                        color: $light;
                    }
                }
            
            }

    }
}
}